@model Task1.DTO.VehicleDTO

@{
	ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
	<h4>Vehicles</h4>
	<hr />
	<dl class="row">
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Name)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Name)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Description)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Description)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ModelYear)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ModelYear)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Price)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Price)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Rating)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Rating)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.CategoryName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.CategoryName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.BrandName)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.BrandName)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.Quantity)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.Quantity)
		</dd>
		<dt class="col-sm-2">
			@Html.DisplayNameFor(model => model.ColoursNames)
		</dt>
		<dd class="col-sm-10">
			@Html.DisplayFor(model => model.ColoursNames)
		</dd>
	</dl>

	<form asp-action="ConfirmDelete" method="post">
		<input type="hidden" asp-for="Id" value="@Model.Id" />
		<input type="submit" value="Delete" class="btn btn-danger" /> |
		<a asp-action="Index" asp-controller="Vehicles"> Back to List </a>
	</form>
</div>
@section Styles {
	<link rel="stylesheet" href="~/css/RangeSlider.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/CheckBox.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Rating.css" asp-append-version="true" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
}

@section Scripts {
	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script src="~/js/RangeSlider.js"></script>
	<script src="~/js/Vehicles.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}