@model Task1.Models.VehicleForm

@{
	ViewData["Title"] = "Edit";
}

@section Styles {
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/Task1.styles.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/select2.css" asp-append-version="true" />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet" />
}

@section Scripts {

	<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
	<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
	<script src="~/js/Edit.js"></script>
	<script src="~/js/select2.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
}


<h1>Edit</h1>

<h4>Vehicles</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="VehicleId" value="@Model.VehicleId" />
			<div class="form-group">
				<label asp-for="Name" class="control-label"></label>
				<input asp-for="Name" class="form-control" />
				<span asp-validation-for="Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label"></label>
				<input asp-for="Description" class="form-control" />
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ModelYear" class="control-label"></label>
				<input asp-for="ModelYear" class="form-control" />
				<span asp-validation-for="ModelYear" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Price" class="control-label"></label>
				<input asp-for="Price" class="form-control" />
				<span asp-validation-for="Price" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Rating" class="control-label"></label>
				<input asp-for="Rating" class="form-control" />
				<span asp-validation-for="Rating" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="BrandList">Brands List</label>
				<input type="hidden" asp-for="BrandList" value="Model.BrandList" />
				@Html.DropDownList("BrandName", new SelectList(Model.BrandList), Model.BrandName, new { @class = "form-control" })
			</div>
			<div class="form-group">
				<label asp-for="CategoriesList">Categories List</label>
				<input type="hidden" asp-for="CategoriesList" value="Model.CategoriesList" />
				@Html.DropDownList("CategoryName", new SelectList(Model.CategoriesList), Model.CategoryName, new { @class = "form-control" })
			</div>
			<div class="form-group">
				<label asp-for="ColoursList">Colours list</label>
				<input type="hidden" asp-for="ColoursList" value="Model.ColoursList" />
				<select id="SelectedColours" multiple class="form-control" style="width:40%">

					@foreach (var item in Model.ColoursList as IEnumerable<string>)
					{
						<option value="@item">@item</option>
					}
				</select>

				<input type="hidden" name="SelectedColours" id="SelectedColoursHidden" value="@Model.SelectedColours" />
			</div>
			<div class="form-group">
				<input type="number" asp-for="Quantity" value="@Model.Quantity" />
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

